.root {
    -fx-background-color: ivory;
}

.button {
    -fx-background-color: rgb(238, 242, 214);
    -fx-text-fill: black;
    -fx-border-color: #ccc;
}

.label {
    -fx-text-fill: black;
}

.table-view {
    -fx-background-color: rgb(219, 217, 217);
    -fx-table-cell-border-color: #ddd;
    -fx-control-inner-background: rgb(219, 217, 217);
    -fx-text-fill: black;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.table-row-cell:filled:selected, .table-row-cell:focused:selected {
    -fx-background-color: #d0e0ff;
}

.table-view .column-header {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.check-box {
    -fx-text-fill: black;
}

